.sessions {
  position: relative;
  grid-area: sessions;
  background-color: red;
  color: white;
  border-radius: 5px;
  font-size: 15px;
  &__title {
    color: white;
    opacity: 0.5;
  }
  &__weekend {
    color: rgba(0, 0, 0, 0.1);
  }
  &__tooltip {
    position: absolute;
    z-index: 1;
    display: none;
  }
  &__scale {
    .domain {
      display: none;
    }
    .tick line {
      display: none;
    }
  }
  &__line {
    .dot {
      &--wide {
        color: rgba(255, 255, 255, 0.5);
      }
      &--small {
        color: white;
      }
    }
  }
}
