#root {
  display: grid;
  grid-template-columns: 117px 1fr;
  grid-template-areas:
    'navbar navbar'
    'leftbar content';
  .content {
    padding: 50px 50px;
    box-sizing: border-box;
    max-height: 677px;
    grid-area: content;
    display: grid;
    grid-template-areas:
      'header header'
      'activity consumption'
      'indicators consumption';
    column-gap: 30px;
    row-gap: 30px;
    .indicators {
      grid-area: indicators;
      display: flex;
      justify-content: space-between;
      margin-top: auto;
    }
  }
}
