#root {
  display: grid;
  grid-template-columns: 117px 1fr;
  grid-template-areas:
    'navbar navbar'
    'leftbar content';
  .content {
    padding: 50px 50px;
    grid-area: content;
    display: grid;
    grid-template-areas:
      'header header header header'
      'activity activity activity consumption'
      'sessions type score consumption';
  }
}
